body {
    background-color: black;
}
button {
    animation: infinite;
    border-style: dotted;
    border-radius: 100px;
    padding: 10px 20px;
    display: block;
    margin: auto;
    color: darkred;
    line-height: 100%;
    margin-bottom: 50px;
    height: 100px;
    width: 400px;
    cursor: pointer;
    transition: transform 0.3s ease,background-color 03s ease;
    font-size: 30px;


}
button:active {
    transform: scale(0.95); 
    transition-duration: 0ms;
}
